[Unit]
Description=Gunicorn instance to serve your application
After=network.target
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/OT-Attendance
ExecStart=gunicorn app:app --log-config log.conf -b 0.0.0.0:8090
[Install]
WantedBy=multi-user.target
