[Unit]
Description=Gunicorn instance to serve your application
After=network.target
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/attendance-api
ExecStart=gunicorn app:app --log-config log.conf -b 0.0.0.0:8080
Restart=always
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
